In [2]:
# Dictionary allow to store key value pair
# also known as MAps, Hashtables associative arrays

In [3]:
d = {"tom": 7977902026, "Karan": 7738845292, "Joe": 9987239123}
print(d)

{'tom': 7977902026, 'Karan': 7738845292, 'Joe': 9987239123}

In [5]:
d["tom"]

7977902026

In [8]:
d["sam"] = 7977902025 # TO add value in a dictionary

In [7]:
d

{'tom': 7977902026, 'Karan': 7738845292, 'Joe': 9987239123, 'sam': 7977902025}

In [9]:
del d["sam"]

In [10]:
d

{'tom': 7977902026, 'Karan': 7738845292, 'Joe': 9987239123}

In [16]:
for i in d:
    print(i,d[i])

tom 7977902026
Karan 7738845292
Joe 9987239123

In [17]:
for i,v in d.items():
    print(i,v)

tom 7977902026
Karan 7738845292
Joe 9987239123

In [18]:
"tom" in d

True

In [19]:
d.clear()

In [20]:
d

{}

In [21]:
# Tuples is a list of value grouped together

In [4]:
point = ("Hello")
point[1]

'e'

In [23]:
point[1]

9

In [25]:
# All values have similar meaning :- List (homogenouss)
# All values have different meaning:- Tupple (hetergrnous) it is an immutable